header {
    color: #d11616;
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid #700101;
}

header h1 {
    position: relative;
    top: -5px;
}

#imgHeader {
    height: 40px;
    position: relative;
    top: 10px;
}

#marioRunning {
    height: 40px;
    position: relative;
    right: 467px;
}

/*ai seria legal um cogumelo, q ao clicar, ele some e entra o mario. Ele vem correndo.
Ao clicar no mario, ele faz o '2' classíco!!!!!.!! TOP!

Primeiro: Ve se faz ele correr. Dps: faz o cogumelo, isso é mole. 



Ao fazer isso, tu vai tacar umas animações semelhantes, que vem correndo de um canto pro outro do nd...
Bota timeout de 1 em 1 min, sei la, uma parada assim*/