@media(max-width: 1023px) { /*Precisei pôr */
    a { 
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        height: 20.3255px;
        background-color: #700101;
        color: #fff;
        padding: 0px; /*da forma que fiz, teve q considerar também como tamanho.*/
        border-radius: 5px;
    }
}


@media (min-width: 1024px) {
    a { 
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
    
        background-color: #700101;
        color: #fff;
        padding: 15px;
        border-radius: 5px;
    }
    
    a:hover {
        transition: 1s;
        background-color: #1f0000;
    }
}