.page {
    padding: 10px;
    margin: 10px;
}

#p {
    color: aqua
}

#img {
    height: 75px;
    position: relative;
    left: 10px;
}

@media (min-width: 1024px) {
    .page {
        padding: 10px;
        margin: 10px;
    }
    
    #p {
        color: aqua
    }
    
    #img {
        height: 150px;
        position: relative;
        left: 75px;
    }

}