
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

.App {
    background-color: #d8d7d7;
}

/*Mobile first*/
main {
    background-color: #d11616;
    min-height: 80vh;
    padding: 10px;
}

.game { 
    height: 154px;
    width: 154px;
    padding: 10px;
    border: 2px solid;
    margin: 21px;
    display: inline-block
}

.game p, h3 {
    text-align: center;
    color: white;
}

.img { 
    width: 100%;
    height: 105.8629px;  /*Calculo com base na % que a imagem ocupa da div. Equivalente*/
}


/*desktop*/
@media (min-width: 1024px) {
    main {
        background-color: #d11616;
        min-height: 80vh;
        padding: 50px;
    }

    .game { 
        height: 351px; 
        width: 351px;
        padding: 20px;
        border: 2px solid ; 
        margin: 21px;
        display: inline-block;
    }

    .game p, h3 {
        text-align: center;
        color: white;
    }
    
    .img { 
        width: 100%;
        height: 250px;  
    }
}